/* Container to center the form on your screen */
.admin-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh; /* Adjust based on your header/footer height */
  background-color: #FEF6FE; /* Soft brand pink */
}

.la-hermosa-form {
  background: #FEF6FE;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
}

.la-hermosa-form h2 {
  color: #5e0d26;
  text-align: center;
  margin-bottom: 25px;
  font-family: 'King and Queen';
}

/* Styling your inputs */
input {
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s;
  font-family: "Poppins";
}

input:focus {
  border-color: #5e0d26; /* Maroon focus ring */
}

/* Styling your button */
button {
  font-family: "Poppins";
  background-color: #CDA4B5;
  padding: 12px;
  border: 1px solid #CDA4B5;
  border-radius: 30px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 10px;
  color: white;
}

button:hover {
  border: 1px solid #CDA4B5;
  background-color: #FEF6FE;
  color: #CDA4B5;
}

button:active {
  transform: scale(0.98);
}