* {
  font-family: "poppins", sans-serif;
}

.dashboard-container {
  padding: 50px;
  background-color: #fdf8f9;
  min-height: 100vh;
}

.header-admin {
  font-family: "King and Queen";
}

.add-btn {
  border: 2px solid #5e0d26;
  transition: all 0.3s ease;
}

.add-btn:hover {
  background-color: white;
  border: 2px solid #5e0d26;
  color: #5e0d26;
}

.logout-btn {
  border: 2px solid #5e0d26;
  transition: all 0.3s ease;
}

.logout-btn:hover {
  background-color: #5e0d26;
  color: white;
}

.blog-form-card {
  max-width: 800px;
  margin: 0 auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  font-family: "Poppins", sans-serif;
}

h2 { color: #5e0d26; margin-bottom: 20px; }

input, textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}

.post-btn {
  background-color: #5e0d26;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #6f0e3533;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #6F0E35;
}